{
  "development": {
    "JWT_KEY": "",
    "TZ": "UTC",
    "SERVER_PORT": "4060",
    "DEV_TYPE": "development",
    "DB_HOST": "127.0.0.1",
    "DB_PORT": "5432",
    "DB_USER": "",
    "DB_PASSWORD": "",
    "DB_NAME": "",
    "DB_MAX_POOL": "10",
    "NODE_ENV": "development",
    "COOKIE_SECRET": "",
    "OSSIE_DEPLOYMENT_MODE": "self_hosted",
    "OSSIE_ONBOARDING_MODE": "first_run_setup",
    "OSSIE_CORS_ALLOWED_ORIGINS": "http://localhost:4050,http://localhost:4000",
    "OSSIE_DOCUMENTATION_TRY_IT_ALLOWED_ORIGINS": "",
    "OSSIE_LOCAL_STORAGE_ROOT": "./storage",
    "OSSIE_MAX_SCREENSHOT_UPLOAD_BYTES": "10485760",
    "OSSIE_JSON_BODY_LIMIT_BYTES": "1048576",
    "OSSIE_RATE_LIMIT_MAX_ATTEMPTS": "20",
    "OSSIE_RATE_LIMIT_WINDOW_MS": "60000",
    "API_URL": "http://localhost:4060",
    "OSSIE_PUBLIC_WEB_URL": "http://localhost:4050",
    "AUTH_REDIRECT_URL": "http://localhost:4050/"
  },
  "development_maintenance": {
    "JWT_KEY": "",
    "TZ": "UTC",
    "SERVER_PORT": "4060",
    "DEV_TYPE": "development",
    "DB_HOST": "127.0.0.1",
    "DB_PORT": "5432",
    "DB_USER": "",
    "DB_PASSWORD": "",
    "DB_MAINTENANCE_USER": "",
    "DB_MAINTENANCE_PASSWORD": "",
    "DB_NAME": "",
    "DB_MAX_POOL": "10",
    "NODE_ENV": "development",
    "COOKIE_SECRET": "",
    "OSSIE_DEPLOYMENT_MODE": "self_hosted",
    "OSSIE_ONBOARDING_MODE": "first_run_setup",
    "OSSIE_CORS_ALLOWED_ORIGINS": "http://localhost:4050,http://localhost:4000",
    "OSSIE_DOCUMENTATION_TRY_IT_ALLOWED_ORIGINS": "",
    "OSSIE_LOCAL_STORAGE_ROOT": "./storage",
    "OSSIE_MAX_SCREENSHOT_UPLOAD_BYTES": "10485760",
    "OSSIE_JSON_BODY_LIMIT_BYTES": "1048576",
    "OSSIE_RATE_LIMIT_MAX_ATTEMPTS": "20",
    "OSSIE_RATE_LIMIT_WINDOW_MS": "60000",
    "API_URL": "http://localhost:4060",
    "OSSIE_PUBLIC_WEB_URL": "http://localhost:4050",
    "AUTH_REDIRECT_URL": "http://localhost:4050/"
  },
  "testing": {
    "JWT_KEY": "",
    "TZ": "UTC",
    "SERVER_PORT": "4060",
    "DEV_TYPE": "testing",
    "DB_HOST": "127.0.0.1",
    "DB_PORT": "5432",
    "DB_USER": "",
    "DB_PASSWORD": "",
    "DB_NAME": "ossie_test",
    "DB_MAX_POOL": "10",
    "NODE_ENV": "test",
    "COOKIE_SECRET": "",
    "OSSIE_DEPLOYMENT_MODE": "self_hosted",
    "OSSIE_ONBOARDING_MODE": "first_run_setup",
    "OSSIE_CORS_ALLOWED_ORIGINS": "http://localhost:4050,http://localhost:4000",
    "OSSIE_DOCUMENTATION_TRY_IT_ALLOWED_ORIGINS": "",
    "OSSIE_LOCAL_STORAGE_ROOT": "./storage-test",
    "OSSIE_MAX_SCREENSHOT_UPLOAD_BYTES": "10485760",
    "OSSIE_JSON_BODY_LIMIT_BYTES": "1048576",
    "OSSIE_RATE_LIMIT_MAX_ATTEMPTS": "20",
    "OSSIE_RATE_LIMIT_WINDOW_MS": "60000",
    "API_URL": "http://localhost:4060",
    "OSSIE_PUBLIC_WEB_URL": "http://localhost:4050",
    "AUTH_REDIRECT_URL": "http://localhost:4050/"
  },
  "testing_maintenance": {
    "JWT_KEY": "",
    "TZ": "UTC",
    "SERVER_PORT": "4060",
    "DEV_TYPE": "testing",
    "DB_HOST": "127.0.0.1",
    "DB_PORT": "5432",
    "DB_USER": "",
    "DB_PASSWORD": "",
    "DB_MAINTENANCE_USER": "",
    "DB_MAINTENANCE_PASSWORD": "",
    "DB_NAME": "ossie_test",
    "DB_MAX_POOL": "10",
    "NODE_ENV": "test",
    "COOKIE_SECRET": "",
    "OSSIE_DEPLOYMENT_MODE": "self_hosted",
    "OSSIE_ONBOARDING_MODE": "first_run_setup",
    "OSSIE_CORS_ALLOWED_ORIGINS": "http://localhost:4050,http://localhost:4000",
    "OSSIE_DOCUMENTATION_TRY_IT_ALLOWED_ORIGINS": "",
    "OSSIE_LOCAL_STORAGE_ROOT": "./storage-test",
    "OSSIE_MAX_SCREENSHOT_UPLOAD_BYTES": "10485760",
    "OSSIE_JSON_BODY_LIMIT_BYTES": "1048576",
    "OSSIE_RATE_LIMIT_MAX_ATTEMPTS": "20",
    "OSSIE_RATE_LIMIT_WINDOW_MS": "60000",
    "API_URL": "http://localhost:4060",
    "OSSIE_PUBLIC_WEB_URL": "http://localhost:4050",
    "AUTH_REDIRECT_URL": "http://localhost:4050/"
  }
}
